# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/.pnp/
.pnp.js

# Testing
/coverage/

# Production build
/build/

# Environment variables
.env

# IDEs and editors
/.idea/
/.vscode/
*.sublime-*
*.swp