@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-page {
  height: 100vh;
  background: url("../public/glass-bg.png") no-repeat center center fixed;
}

form {
  position: relative;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.08);
}

form > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.12;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
